<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Welcome to cbv2 Login/Singup</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="loginform" id="loginform">
                    <form action="/auth/login" method="POST">
                        {% csrf_token %}
                        <span class="material-icons-outlined position-absolute oneico">email</span>
                        <input name="username" class="w-100 py-2 my-2 custompad" type="email" placeholder="Enter Your Email">
                        <span class="material-icons-outlined position-absolute secondico">lock</span>
                        <input name="password" class="w-100 py-2 my-2 custompad" type="password" placeholder="Enter Your password">
                        <p id="loginlog"></p>
                        <button class="btn btn-primary d-block mx-auto my-2">Login</button>
                        <div class="d-flex justify-content-between">
                            <a href="#" class="d-block mx-2 my-1" id="cacc">Create Account?</a>
                            <a href="#" class="d-block mx-2 my-1" id="facc">Forget Password?</a>
                        </div>
                    </form>
                </div>
                <div class="signupform" id="signupform">
                    <form action="/auth/signup" method="POST">
                        {% csrf_token %}
                        <span class="material-icons-outlined position-absolute oneico2">email</span>
                        <input name="username" class="w-100 py-2 my-2 custompad" type="email" id="email" placeholder="Enter Your Email">
                        <span class="material-icons-outlined position-absolute secondico2">lock</span>
                        <input name="password" class="w-100 py-2 my-2 custompad" type="password" placeholder="Enter Your password">
                        <span class="material-icons-outlined position-absolute secondico22">lock</span>
                        <input name="cpassword" class="w-100 py-2 my-2 custompad" type="password" placeholder="Enter Confirm password">
                        <button class="btn btn-primary d-block mx-auto my-2" id="otpgen" type="button">Generate Otp</button>
                        <span class="material-icons-outlined pinico">pin</span>
                        <input name="otp" class="w-100 py-2 my-2 custompad" type="number" placeholder="Enter otp">
                        <button class="btn btn-primary d-block mx-auto my-2">Signup</button>
                        <a href="#" id="logacc">Already have account login?</a>
                    </form>
                </div>


                <div class="fpform" id="fpform">
                    <form action="/auth/fpsave" method="POST">
                        {% csrf_token %}
                        <span id="emailfpico" class="material-icons-outlined position-absolute fpmail">email</span>
                        <input name="username" class="w-100 py-2 my-2 custompad" type="email" id="fpemail" placeholder="Enter Your Email">
                        <button class="btn btn-primary d-block mx-auto my-2" id="fpotpgen" type="button">Generate token</button>
                        <div id="aria-fp-invisible">
                            <span class="material-icons-outlined position-absolute fppin">pin</span>
                            <input name="otp" class="w-100 py-2 my-2 custompad" type="number" placeholder="Enter otp" id="fpotp">
                            <span class="material-icons-outlined position-absolute fplock">lock</span>
                            <input name="password" class="w-100 py-2 my-2 custompad" type="password" placeholder="Enter Your password" id="fpp1">
                            <span class="material-icons-outlined position-absolute fplock2">lock</span>
                            <input name="cpassword" class="w-100 py-2 my-2 custompad" type="password" placeholder="Enter Confirm password" id="fpp2">
                            <button type="button" class="btn btn-primary d-block mx-auto my-2" id="res-btn">Reset Password</button>
                        </div>
                        <a href="#" id="fp2log">Remember password?</a>
                    </form>
                </div>


            </div>
        </div>
    </div>
</div>